*~
*.o
*.opp
*.ko
*.data
*.power
cargo
flash-mmap
*.tar
*.cmd
test/.built-in.o.cmd
test/.flash.ko.cmd
test/.flash.mod.o.cmd
test/.flash.o.cmd
test/.tmp_versions/
test/Module.symvers
test/flash.mod.c
test/modules.order
*inout/
