[submodule "kernel"]
	path = kernel
	url = git@github.com:cjubb39/FLASH_kernel.git
[submodule "de2/uclinux/make"]
	path = de2/uclinux/make
	url = git://git.savannah.gnu.org/make.git
[submodule "de2/uclinux/sopc2dts"]
	path = de2/uclinux/sopc2dts
	url = https://github.com/wgoossens/sopc2dts
[submodule "cycloneV/linux"]
	path = cycloneV/linux
	url = https://github.com/altcrauer/linux.git
[submodule "cycloneV/u-boot-socfpga"]
	path = cycloneV/u-boot-socfpga
	url = git://git.rocketboards.org/u-boot-socfpga.git
[submodule "cycloneV/linux-socfpga"]
	path = cycloneV/linux-socfpga
	url = git://git.rocketboards.org/linux-socfpga.git
[submodule "cycloneV/freezer"]
	path = cycloneV/freezer
	url = git@github.com:cjubb39/freezer.git
